body {
    justify-content: center;
    background: rgb(235, 209, 64);
  };

  .container {
    display: block;
    margin-left: auto;
    margin-right: auto 

  };
  .submit{
justify-content: center;
  }